<div class="jumbotron" style="background-image: url(<%= asset_path 'dubrovink.png' %>)">
  <div class="container">
    <h1 style="color: white; text-shadow: 3px 3px 3px black;">Detect if is an anagram!!</h1>
    <p style="color: white; text-shadow: 3px 3px 3px black;">A Eradicating Fast Men!!</p>
    <p><a href="http://github.com/rafaelescrich/anagram-rd" target="_blank" class="btn btn-primary btn-lg">Github Code</a></p>
  </div>
  <div class="clear"></div>
</div>

<div class="container">
    <div class="col-sm-12">
          <!--panel-->
          <div class="panel panel-primary">
              <!-- Default panel contents -->
              <div class="panel-heading"><h4><strong>New anagram comparison</strong></h4></div>
              <div class="panel-body">
                  <!--table-->
                  <p class="table table-condensed table-striped table-responsive">
                      <%= render 'form' %>
                  </p>
				  <%= link_to 'Back', anagram_compares_path , :class => 'btn btn-danger btn-lg btn-block pull-right' %>
