<div class="jumbotron" style="background-image: url(<%= asset_path 'dubrovink.png' %>)">
  <div class="container">
    <h1 style="color: white; text-shadow: 3px 3px 3px black;">Detect if is an anagram!!</h1>
    <p style="color: white; text-shadow: 3px 3px 3px black;">A Eradicating Fast Men!!</p>
    <p><a href="http://github.com/rafaelescrich/anagram-rd" target="_blank" class="btn btn-primary btn-lg">Github Code</a></p>
  </div>
  <div class="clear"></div>
</div>
<div class="container">
   <div class="col-md-4">
      <div class="list-group">
        <li class="list-group-item active">To Do List</li>
        <li class="list-group-item">Shopping<span class="pull-right bigger blue2 glyphicon glyphicon-question-sign"></span> </li>
        <li class="list-group-item">Washing<span class="pull-right bigger blue2 glyphicon glyphicon-question-sign"></span> </li>
        <li class="list-group-item">Cleaning<span class="pull-right bigger blue2 glyphicon glyphicon-question-sign"></span> </li>
        <li class="list-group-item">Gardening<span class="pull-right bigger blue2 glyphicon glyphicon-question-sign"></span> </li>
      </div>
   </div>
</div>