<div class="jumbotron" style="background-image: url(<%= asset_path 'dubrovink.png' %>)">
  <div class="container">
    <h1 style="color: white; text-shadow: 3px 3px 3px black;">Detect if is an anagram!!</h1>
    <p style="color: white; text-shadow: 3px 3px 3px black;">A Eradicating Fast Men!!</p>
    <p><a href="http://github.com/rafaelescrich/anagram-rd" target="_blank" class="btn btn-primary btn-lg">Github Code</a></p>
  </div>
  <div class="clear"></div>
</div>
<div class="container">
  	<div class="col-lg-6 text-left">
  		<div class="panel panel-primary">
              <!-- Default panel contents -->
              <div class="panel-heading"><h4><b>List of anagrams</b></h4></div>
              <div class="panel-body">
	    			<h5><b>This aplicattion was written to demonstrate an anagram detector in ruby on rails with heroku deployment. I used Twitter Bootstrap to make things prettier and faster to code. The code is available in Github in the button ahead. Thanks.</b></h5>
	    			<p><a href="/anagram_compares" class="btn btn-success btn-lg pull-left">Go to app =></a></p>
	    	  </div>
	    	 </div>	
   </div>
   <div class="col-lg-6 text-left">oieee</div>
</div>